<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sta.CaptureBoard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Sta.CaptureBoard.Properties.Settings>
            <setting name="CaptureFrameWidth" serializeAs="String">
                <value>1280</value>
            </setting>
            <setting name="CaptureFrameHeight" serializeAs="String">
                <value>720</value>
            </setting>
            <setting name="CaptureFps" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="DisplayInterval" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="DisplayFrameHeight" serializeAs="String">
                <value>540</value>
            </setting>
            <setting name="DisplayFrameWidth" serializeAs="String">
                <value>960</value>
            </setting>
            <setting name="CaptureDeviceId" serializeAs="String">
                <value>0</value>
            </setting>
        </Sta.CaptureBoard.Properties.Settings>
    </applicationSettings>
</configuration>